{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Notion Support</title>
</head>
<body>
<p id="9a3fa597-f0f5-4082-acef-2b60e337b2e1" class="">まず最初に公開したいNotionのページを開く</p>
<img style="width:1188px" src="{% static 'notion/support_page/1.png' %}"/>
<p id="e9d3550b-f43e-4a40-9bd4-794f051cd83a" class="">右上にある <strong>共有ボタン</strong> をクリック
    <strong>共有ボタン</strong> をクリック後、Web公開を選択し <strong>Webで</strong>
    <mark class="highlight-blue"><strong>公開のボタン</strong></mark>
    <strong> </strong>を選択する
</p>
<img style="width:1177px" src="{% static 'notion/support_page/2.png' %}"/>
<p id="8246278a-f8b2-470b-a9f8-946b847adf08" class="">
    <strong>Web公開用リンクをコピー </strong>よりURLをコピーしアプリ内のリンクに張り付ける
</p>
<img style="width:1182px" src="{% static 'notion/support_page/3.png' %}"/>
</body>
</html>