body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1 {
    margin-left: 45%;
}

header div {
    display: flex;
    align-items: center;
}

.container {
    margin-top: 50px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#response {
    margin-top: 20px;
    font-size: 16px;
}

@media (max-width: 1000px) {
    body {
        font-size: 30px; /* モバイル画面時のフォントサイズを調整 */
    }

    header h1 {
        font-size: 1.5rem; /* モバイル画面時のヘッダータイトルのフォントサイズを調整 */
    }

    label {
        font-size: 50px; /* 入力フォームラベルのフォントサイズを調整 */
    }

    input {
        font-size: 35px; /* 入力フォームのフォントサイズを調整 */
        padding: 8px; /* 入力フォームの余白を調整 */
        margin-bottom: 10px; /* 入力フォームの下の余白を調整 */
    }

    button {
        font-size: 30px; /* ボタンのフォントサイズを調整 */
        padding: 8px 16px; /* ボタンの余白を調整 */
    }
}