body {
    margin: 20px;
}

.bi-house {
    font-size: 40px;
}

canvas {
    border: 5px solid #ccc;
    cursor: crosshair; /* カーソルを十字に設定 */
}

#save, #clear {
    font-size: 120%;
    width: 80px;
    height: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px 15px;
       height: 90px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1 {
    text-align: center;
}

.a {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.i {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.bi {
    font-size: 35px;
}

/* ローディング */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    display: none; /* ロード完了前は非表示 */
}

.cube1, .cube2 {
    background-color: #007BFF;
    margin-top: 300px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loaded { /* ロード完了後に表示するクラス */
    display: block !important;
}

h2 {
    text-align: center;
    margin-top: 400px;
    margin-left: 25px;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}