/* ボタンのスタイル */
.back-button,
.chat-button {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}

/* ボタンのアイコンに余白を追加 */
.back-button i,
.chat-button i {
    margin-right: 8px;
}

/* ラジオボタンのスタイル */
.form-check-label {
    font-size: 1.2rem;
    margin-right: 15px;
}

/* ID入力フォームと検索ボタンのスタイル */
.input-group {
    width: 80%;
    margin: 0 auto;
}

.input-group form {
    display: flex; /* フォーム内の要素を横並びにする */
    width: 100%;
}

.input-group input {
    flex: 1; /* 入力フォームが残りのスペースを占めるようにする */
    margin-right: 10px; /* 入力フォームとボタンの間の余白を追加 */
}

.input-group button {
    width: auto; /* ボタンの自動調整を有効にする */
}

/* センタリング用スタイル */
.text-center {
    text-align: center;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1{
    margin-left: 45%;
}