body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.bi-house {
    font-size: 40px;
}

.container {
    padding: 30px;
}

.row {
    margin-top: 30px;
}

/* アイコンのホバーエフェクト */
i.bi:hover {
    color: #0056b3; /* ホバー時の色を変更 */
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    height: 90px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1{
    margin-left: 45%;
}